.menu {
    padding-left: 0px;
    padding-right: 0px;
}

.front-table {
    text-align: center;
    box-shadow: 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.table p {
    margin: 0 0 0px;
    white-space: nowrap;
    word-wrap: normal;
}

.table .rowdown td {
    height: 60px;
    vertical-align: middle;
}

.table .wordup {
    color: blue;
}

.table .wordbottom {
    color: red;
}

.table .clr {
    color: #808080;
}

.navbar {
  	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	background-color: #f9f9f9;
	border-color: #e8e8e8;
	border: 1px solid transparent;
  	border-radius: 0px;
}

.table #bottom td{
    vertical-align: middle;
    text-align: center;
}

#edit_td img {
    opacity: 0;
    filter: alpha(opacity=50);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

#edit_td:hover img {
    opacity: 0.5;
}

#edit_td img:hover {
    opacity: 1;
}

#editable button {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

#editable:hover button {
    opacity: 1;
    filter: alpha(opacity=100);
}