.menu {
    padding-left: 0px;
    padding-right: 0px;
}

.table {
    text-align: center;
    box-shadow: 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.table p {
    margin: 0 0 0px;
}

.table .rowdown td {
    height: 60px;
    vertical-align: middle;
}

.table .wordup {
    color: blue;
}

.table .wordbottom {
    color: red;
}

.table .clr {
    color: #808080;
}